.formGroup{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  @media (max-width: 575px){
    flex-wrap: wrap;
  }
}
.formGroupBody{
  display: flex;
  align-items: center;
}
.formGroupLabel{
  width: 33.33333333%;
  min-width: 33.33333333%;
  box-sizing: border-box;
  text-align: right;
  color: rgba(0, 0, 0, 0.85);
  @media (max-width: 575px){
    width: 100%;
    min-width: auto;
    text-align: left;
  }
  &:after{
    content: ':';
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
  }
}
.formGroupItem{
  margin-bottom: 0;
}