.seat{
  height: 70px;
  width: 70px;
  margin: 10px 3px;
  background: rgba(221, 221, 221, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  .click{
    position: absolute;
    display: inline-block;
    top:0;
    right: 0;
    bottom:0;
    left: 0;
  }
  &:hover, &:focus{
    background: rgba(221, 221, 221, 1);
  }
}
.selected{
  background: rgba(131, 210, 135, 0.7);
  &:hover, &:focus{
    background: rgba(131, 210, 135, 1);
  }
}
.rowSeat{
  display: flex;
}
.seatMapTitle{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}
.seatMap{
  display: flex;
  flex-direction: column;
  align-items: center;
  + .seatMap{
    margin-top: 30px;
  }
}
.rowIndex{
  margin-right: 10px;
  line-height: 90px;
}