#frmRenderSeatMap{
  .ant-form-item-label{
    line-height: 1;
    white-space: normal;
    text-align: left;
  }
  .ant-form-item{
    margin-bottom: 15px;
  }
  .ant-input-number{
    width: 100%;
  }
}
.frmSeatMap{
  &.ant-form-item{
    position: absolute;
    bottom: 5px;
    margin-bottom: 0;
    .ant-form-item-control{
      line-height: 1;
    }
  }
  .ant-form-item-control .ant-form-explain{
    display: none;
  }
  .ant-input{
    padding: 2px;
    max-width: 50px;
    height: 26px;
    border-radius: 0;
    background: none;
    text-align: center;
    font-weight: 500;
  }
}