img {
  max-width: 100%;
  height: auto;
}

// Here you can add other styles
.app-header .breadcrumb{
  border-bottom: 0;
  margin-bottom: 0;
}
.main > .container-fluid{
  padding: 15px;
  height: 100%;
  > .animated{
    height: 100%;
    > .card{
      height: 100%;
      margin-bottom: 0;
    }
  }
}

//img-avatar
.dropdown .img-avatar{
  height: 35px;
  width: 35px;
  border: 1px solid #ddd;
  border-radius: 50%;
  object-fit: contain;
}

//title-page
.title-page{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
  .card-header & {
    margin-bottom: 0;
    font-size: 16px;
    float: left;
    margin-right: 15px;
  }
}

//ant table
.ant-table{
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding:8px 10px;
  }
  .ant-table-body{
    background-color: #ffffff;
    overflow-y: auto;
  }
  .btn-funtion{
    padding: 1px 5px;
    min-width: 26px;
    text-align: center;
    + .btn-funtion{
      margin-left: 10px;
    }
  }
}

//table-ant-provider
.table-ant-provider{
  margin-bottom: 30px;
  .ant-table table{
    border-radius: 0;
  }
  .ant-table-title{
    padding: 10px 10px;
    background-color: #4dbd74;
    border-radius: 0;
    color: #ffffff;
    font-weight: 500;
    top: 0;
  }
  .ant-table-thead > tr:first-child > th:first-child{
    border-radius: 0;
  }
  .ant-table-thead > tr:first-child > th:last-child{
    border-radius: 0;
  }
}


.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
  max-height: calc(100vh - 270px) !important;
}
.ant-table-pagination {
  .ant-pagination {
    margin-bottom: 0;
    margin-top: -42px;
    position: relative;
    z-index: 10;
    margin-right: 15px;
  }
  .ant-pagination-disabled{
    color: #bfbfbf;
  }
}
.header-main-content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  .form-group{
    margin-bottom: 0;
  }
}

//form
.ant-form.form-ant-custom{
  max-width: 600px;
}

.ant-form.form-ant-custom-policy{
  max-width: 80%;
}

.form-ant-custom .ant-form-item{
  .ant-input-number{
    width: 100%;
  }
  .ant-form-item-label{
    label{
      margin-bottom: 2px;
    }
  }
}

//form-ant-custom-upload
.form-ant-custom-upload{
  .ant-form-item:not(.ant-form-item-load){
    //max-width: 600px;
  }
}

.ant-form-item-children{
  display: inline-block;
  width: 100%;
}
.ant-calendar-picker{
  display: inline-block;
  width: 100%;
}

.logout-style .nav-link{
  i.nav-icon{
    display: none;
  }
}

.group-items.nav-link{
  i.nav-icon{
    display: none;
  }
}

//
.ant-popover-placement-left{
  .ant-popover-inner{
    margin-top: -120px;
  }
  .ant-popover-arrow{
    margin-top: -64px;
  }
  .ant-popover-buttons{
    text-align: center;
  }
}

//ant-message
.ant-message{
  z-index: 2000;
}

//ant-form-item-load
.ant-form-item-load{
  .ant-form-item-children{
    position: relative;
  }
  .icon-preview-image{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    background: white;
  }
}

//nav-dropdown
.sidebar{
  .nav-link{
    padding-left: 10px;
  }
  .nav-link.active{
    background: none;
    color: #20a8d8;
  }
  .nav-dropdown{
    .nav-link.active{
      background: none;
      color: #20a8d8;
    }
    > .nav-link {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 80%;
      .nav-icon{
        color: #20a8d8;
      }
    }
  }
  .nav-dropdown-items .nav-icon{
    margin-right: 15px;
  }
}



//ant-input-search-button
.ant-input-search-button{
  line-height: 1;
}

//frame-img
.row-upload-img{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  .col-upload-img-arr{
    display: flex;
    .frame-img{
      position: relative;
      margin-right: 5px;
      i{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 15px;
        &:hover, &:focus{
          color: #2e6da4;
        }
      }
    }
  }
  .col-upload-img + .col-upload-img-button{
    margin-left: 10px;
  }
  .col-upload-img-arr + .col-upload-img-button{
    margin-left: 0;
  }
}
.frame-img{
  position: relative;
  width: 100%;
  height: 110px;
  background-color: #e2e2e2b8;
  border: 1px dashed #afafaf;
  // padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  + .frame-img{
    margin-left: 5px;
  }
  i{
    font-size: 30px;
  }
  img{
    cursor: pointer;
    max-height: 100%;
  }
  .frame-img-inner{
    height: 100%;
    position: relative;
    .anticon-picture{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.frame-img-big{
  height: 150px;
  width: 250px;
  max-width: 100%;
}

.avatar-uploader{
  display: block;
}

//modal-image
.modal-image{
  text-align: center;
}

//seat-custom
.seat-custom{
  .seat{
    width: 50px;
    height: 50px;
  }
  .seat-picker__row > *:not(:last-child){
    margin-right: 10px;
  }
  .seat-picker > *:not(:last-child){
    margin-bottom: 10px;
  }
  .seat--reserved{
    opacity: 0;
    visibility: hidden;
  }
  .seat--enabled{
    background-color: #bfbfbf;
    &:hover,&:focus{
      background-color: #bfbfbf;
    }
  }
  .seat-picker{
    margin-left: auto;
    margin-right: auto;
  }
}

//ant-modal-custom
.ant-modal-custom{
  width: 100% !important;
  max-width: 1000px;
  margin-top: 70px;
  .ant-modal-header{
    border-bottom: none;
  }
  .ant-modal-body{
    padding-top: 0;
  }
}

//location-box-cover
.location-map-input{
  display: flex;
  align-items: flex-start;
  .google-covert{
    padding-left: 30px;
  }
  .btn-danger{
    margin-top: 6px;
    margin-left: 5px;
    padding: 1px 7px;
  }
}
.location-box-cover{
  width: 100%;
  .custom-style{
    width: 100%;
    border: 1px solid #dddddd;
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
  }
}

//button-select
.button-select{
  .ant-select-selection{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
  }
  .ant-select-selection__placeholder{
    color: white;
  }
  .ant-select-arrow{
    color: white;
  }
}

//overflow-text
.overflow-text{
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 21px;
  -webkit-line-clamp: 2;
  height: 42px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

//ant-table-tbody
.ant-table-tbody{
  a{
    color: #167495;
  }
}
.link-list{
  cursor: pointer;
  color: #167495;
  &:hover, &:focus{
    text-decoration: underline;
  }
}


//detail-user
.detail-user-image-inner{
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afafaf;
  img{
    max-height: 100%;
    cursor: pointer;
  }
}
.detail-user{
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  > * {
    padding-left: 15px;
    padding-right: 15px;
  }
  .detail-user-image{
    max-width: 180px;
  }
  .detail-user-image-inner{
    width: 150px;
    height: 150px;
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    img{
      max-height: 100%;
      cursor: pointer;
    }
  }
  .detail-user-info{
    max-width: 500px;
    width: 100%;
  }
  .bg-avatar{
    width: 150px;
    height: 150px;
    background-color: #c7c7c7;
    border: 1px solid #dddddd;
  }
}

//mainLoading
.mainLoading{
  position: relative;
  &:before{
    content: '';
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.45);
  }
}

//frmOtherServicesModal
#frmOtherServicesModal{
  .ant-form-item-label{
    min-width: 95px;
  }
}

//frmArea
#frmArea{
  .ant-form-item-label{
    line-height: 1.2;
    margin-bottom: 1px;
    label{
      margin-bottom: 2px;
    }
  }
}

//btn-sm-ct
.btn-sm-ct{
  padding-top: 3px;
  padding-bottom: 3px;
}

//modal-area
.modal-area{
  width: 100% !important;
  max-width: 750px;
}
.confirm_update_button {
    margin-right: 10px;
}


// filter_form
.form_filter_table_container {
  padding: 16px;
  background-color: #fff;
}
.btn_filter {
  margin-right: 16px;
}
.btn_filter_active {
  margin-right: 16px;
  // background-color: #337ab7;
  // color: #fff;
  // &:hover, &:focus{
  //   background-color: #337ab7;
  //   color: #fff;
  // }
}
.sidebar_version {
  font-size: 12px;
  padding: 0 10px;
}

.form_wallet {
  margin-top: 26px;
}
.list_verhicle {
  margin-right: 10px;
}
.cursor_pointer {
  cursor: pointer;
}
.site-tag-plus {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.container_button_action_upload {
  display: flex;
  align-items: center;
}
.button_delete_upload {
  margin-left: 16px;
  // color: red; 
  // border-color: red
}
.button_delete_upload:hover {
  border-color: red;
  color: red; 
}
.active_type_tour {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
  border-radius: 0%;;
} 
.non_active_type_tour {
  border-radius: 0%;; 
}
.input-number-transition {
  width: inherit;
}
.info_tour {
  display: flex;
    align-items: center;
}
.icon_info_tour {
  margin-left: 6px;
}
.container_red_form_item {
    border: 1px solid red;
    padding: 16px 0;
    margin: 16px 0;
}
.icon_delete_upload {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px !important;
    background-color: #000;
    padding: 5px;
    color: #fff;
}
.icon_picture_upload {
  color: #9c9c9c;
}
.section_driver_detail {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.btn_confirm_form_driver {
  width: 8rem;
}

.menu-filter-price-tour {
  background-color: #fff;
  padding: 16px;
  border: solid 1px #ccc;
  width: 400px;
}
.menu-filter-price-tour-range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.ant-slider-handle {
  border: solid 2px #b3b3b3;
}
.ant-slider-track {
  background-color: #717171;
}