.card{
  height: 100%;
}
.img{
  margin-left: 20px;
}
.active_update {
  background-color: aliceblue;
}
.width_navitem {
  width: 50%;
  cursor: pointer;
}
.title_update {
  font-weight: 500;
  text-align: center;
}