.seat-map-custom{
  margin-top: 20px;
  .seat-picker {
    margin: 0 auto;
    .seat{
      height: 30px;
      width: 30px;
      margin: 10px 3px;
    }
  }
}

#frmSeatMap{
  .ant-form-item-label{
    line-height: 1;
    white-space: normal;
    text-align: left;
  }
  .ant-form-item{
    margin-bottom: 15px;
  }
  .ant-input-number{
    width: 100%;
  }
}

.seat-map{
   + .seat-map{
    margin-top: 30px;
     padding-top: 30px;
  }
}

//content-seatmap
.content-seatmap{
  display: flex;
  .content-seatmap-inner{
    width: 100%;
  }
}

//seatct
.seat-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  + .seat-map{
    margin-top: 20px;
  }
  .seat-map-title{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 27.5px;
  }
}
.row_seat{
  display: flex;
  .row-index{
    margin-right: 20px;
    line-height: 90px;
  }
}
.seat_ct{
  width: 90px;
  height: 90px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  cursor: pointer;
  user-select: none;
  &:hover, &:focus{
    background-color: darken(#eaeaea, 10%);
  }
  &:not(.selected){
    visibility: hidden;
  }
  &.status{
    background: #DBD081;
    &:hover, &:focus{
      background-color: darken(#DBD081, 10%);
    }
  }
  &.selectedTicket{
    background: #75dba4;
    transform: scale(1.05);
    color: #ffffff;
    &:hover, &:focus{
      background-color: darken(#75dba4, 10%);
    }
  }
}
.direction-seat{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 70px;
  .row-direction-seat{
    margin-bottom: 10px;
  }
  .seat_ct{
    height: 20px;
    width: 60px;
    margin: 0;
  }
}

//selected-seat-ticket
.selected-seat-ticket{
  border: 1px solid #dddddd;
  min-height: 46px;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  .selected-seat-ticket-inner{
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
  }
  .label{
    margin-right: 10px;
    min-width: 100px;
  }
  .arr-selected-seat{
    font-weight: bold;
    float: left;
    display: flex;
    flex-wrap: wrap;
    span + span{
      &:before{
        content: ",";
        margin-right: 5px;
      }
    }
  }
}

