.mapRoute{
  width: 100%;
  height: 100%;
  height: 80vh;
  border: 1px solid #dddddd;
}
.trashFiled{
  color: #f86c6b;
  cursor: pointer;
  &:hover{
    color: red;
  }
}
.addField{
  display: flex;
}
.cardHeader{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardLocation{
  margin-bottom: 40px;
}
.cardLocationTitle{
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}