  .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  
  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }

  .icon-preview-image{
    position: absolute;
    top: 0;
    left: 0;
  }
  .icon-preview-image:hover{
    opacity: 0.3;
    background: #ccc;
  }