.cardHeaderActions{
  display: inline-block;
  float: right;
  margin-right: -0.25rem;
}
.fieldForm{
  display: flex;
  align-items: center;
  min-height: 40px;
  + .fieldForm{
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      border-top: 1px dashed #dddddd;
    }
  }
}
.fieldFormItem{
  margin-bottom: 0;
}
.label{
  margin-right: 10px;
  min-width: 75px;
}
.bottomCard{
  margin-top: 20px;
}
.inputNumber{
  width: 100%;
  max-width: 200px;
}
