#frmTicketAdmin{
  .ant-input-group,input, textarea, .ant-select{
    max-width: 400px;
  }
  .ant-form-item{
    margin-bottom: 10px;
    .ant-form-item-label{
      line-height: 1.3;
      label{
        margin-bottom: 0;
      }
    }
  }
  .ant-radio-wrapper{
    display: block;
    margin-bottom: 5px;
    white-space: unset;
  }
}