.card{
  height: auto !important;
  margin-bottom: 20px !important;
  background: none;
  border: none;
}
.cardBody{
  padding: 0;
}
.cardHeader{
  background: none;
  border-bottom: none;
  padding: 0 0 10px 0;
}
.cardFilter{
  height: auto !important;
  margin-bottom: 20px !important;
}
.cardBodyFilter{
  padding-bottom: 0;
}
.cardHeaderSearch{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.link{
  color: #167495;
}