.row-info-ticket{
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #dddddd;
  .info-ticket-label{
    min-width: 140px;
    font-weight: 500;
    margin-right: 15px;
  }
}